build/
fs.img
kernel/*.o
kernel/*.d
kernel/*.asm
kernel/*.sym
kernel/kernel
mkfs/mkfs
user/*.o
user/*.d
user/*.asm
user/*.sym
user/_*
user/usys.S
*.env
.tmp/
.vos/*
!.vos/project.yaml
!.vos/policy.yaml
!.vos/config.toml
!.vos/toolchain.json
